/target
src-tauri/target
Cargo.lock
**/*.rs.bk

.cargo/config.toml

*.wav
*.bin
*.seal
*.tmp

*.pub
*.sec
*.key

node_modules/
src-tauri/gen/
src-tauri/capabilities/gen/
.env
.env.*

audit/raw_data/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini